{% extends 'base.html' %}
{% load static %}
{% block content  %}
        
<article class="sections" data-page-sections="5d436400a4a0c100018b6db6" id="sections">
    <section
  class='page-section
    
      layout-engine-section
    
    background-width--full-bleed
    
      section-height--large
    
    
      content-width--medium
    
    horizontal-alignment--center
    vertical-alignment--middle
    
    '
  data-section-id="5d43686517a9250001bfb6a3"
  
  data-controller="SectionWrapperController, MagicPaddingController"
  data-current-styles="{
  &quot;imageOverlayOpacity&quot; : 0.15,
  &quot;video&quot; : {
    &quot;playbackSpeed&quot; : 0.5,
    &quot;filter&quot; : 1,
    &quot;filterStrength&quot; : 0,
    &quot;zoom&quot; : 0
  },
  &quot;backgroundWidth&quot; : &quot;background-width--full-bleed&quot;,
  &quot;sectionHeight&quot; : &quot;section-height--large&quot;,
  &quot;horizontalAlignment&quot; : &quot;horizontal-alignment--center&quot;,
  &quot;verticalAlignment&quot; : &quot;vertical-alignment--middle&quot;,
  &quot;contentWidth&quot; : &quot;content-width--medium&quot;,
  &quot;sectionAnimation&quot; : &quot;none&quot;,
  &quot;backgroundMode&quot; : &quot;image&quot;
}"
  data-animation="none">
  <div class="section-background">

  </div>
  <div class="content-wrapper" style=''>
    <div class="content"> 
      <div class="sqs-layout sqs-grid-12 columns-12" data-type="page-section" id="page-section-5d43686517a9250001bfb6a3"><div class="row sqs-row"><div class="col sqs-col-12 span-12"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-f3440fae5421868eea8f"><div class="sqs-block-content"><h2 style="white-space:pre-wrap;">Our Services</h2>
      <ul>
      <li><p style="font-size:30px">SOCIAL MEDIA MANAGEMENT</p></li>
      <li><p style="font-size:30px">ACCOUNT GROWTH</p></li>
      <li><p style="font-size:30px">SOCIAL ADVERTISING</p></li>
      <li><p style="font-size:30px">CONTENT PROMOTION</p></li>
      <li><p style="font-size:30px">ONLINE REPUTATION MANAGEMENT</p></li>
      </ul>
      </div></div></div></div></div>
    </div>
  </div>
</section>
    <section
  class='page-section
    
      layout-engine-section
    
    background-width--full-bleed

      content-width--medium
    
    horizontal-alignment--center
    vertical-alignment--middle
    
    '
  data-animation="none">
  <div class="content-wrapper" style=''>
    <div class="content"> 
      <div class="sqs-layout sqs-grid-12 columns-12" data-type="page-section" id="page-section-5d43686517a9250001bfb6a3"><div class="row sqs-row"><div class="col sqs-col-12 span-12"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-f3440fae5421868eea8f"><div class="sqs-block-content"><h2 style="white-space:pre-wrap;">WHAT SOCIAL MEDIA MANAGEMENT LOOKS LIKE?</h2>
      </div></div></div></div></div>
    </div>
  </div>
</section>
    <section
  class='page-section
    
      layout-engine-section
    
    background-width--full-bleed
    
      section-height--large
    
    
      content-width--medium
    
    horizontal-alignment--center
    vertical-alignment--middle
    
    '
  data-section-id="5d43686517a9250001bfb6a3"
  
  data-controller="SectionWrapperController, MagicPaddingController"
  data-current-styles="{
  &quot;imageOverlayOpacity&quot; : 0.15,
  &quot;video&quot; : {
    &quot;playbackSpeed&quot; : 0.5,
    &quot;filter&quot; : 1,
    &quot;filterStrength&quot; : 0,
    &quot;zoom&quot; : 0
  },
  &quot;backgroundWidth&quot; : &quot;background-width--full-bleed&quot;,
  &quot;sectionHeight&quot; : &quot;section-height--large&quot;,
  &quot;horizontalAlignment&quot; : &quot;horizontal-alignment--center&quot;,
  &quot;verticalAlignment&quot; : &quot;vertical-alignment--middle&quot;,
  &quot;contentWidth&quot; : &quot;content-width--medium&quot;,
  &quot;sectionAnimation&quot; : &quot;none&quot;,
  &quot;backgroundMode&quot; : &quot;image&quot;
}"
  data-animation="none">

  <div class="content-wrapper" style=''>
    <div class="content"> 
      <div class="sqs-layout sqs-grid-12 columns-12" data-type="page-section" id="page-section-5d43686517a9250001bfb6a3"><div class="row sqs-row"><div class="col sqs-col-12 span-12"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-f3440fae5421868eea8f"><div class="sqs-block-content"><h2 style="white-space:pre-wrap;">YOUR ACCOUNT STRUCTURE</h2>
      <div>
     <img class="img-fluid rounded-circle" src="{% static 'images/howsocialmediaworks.png' %}" alt="">
      </a>
      </div>
      </div></div></div></div></div>
    </div>
  </div>
</section>
</article>
{% endblock%}
